.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #282c34;
  color: white;
  text-align: center;
}

.container .form {
  padding-bottom: 20px;
}
.container .board {
  background-color: aliceblue;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hiddden;
  color: black;
  text-align: left;
  font-size: 20px;
}
